@model OrderVM
@{
    ViewData["Title"] = "Booking";
}


    <style>
        .flex-container {
            display: flex;
            flex-wrap: wrap;
            background-color: white;
        }

            .flex-container > div {
            }
    </style>

<h1>Fyll i bokningsinformationen</h1>

<div class="flex-container">
    <div>
        <form asp-controller="Main" asp-action="Booking" method="post">

            <label asp-for="Ssn" id="ssn">Personnummer</label>
            <input asp-for="Ssn" class="form-control" id="ssnInput">
            <span asp-validation-for="Ssn" class="text-danger" id="ssnVal"></span>

            <div id="status"></div>

            <a href="/CreateNewCustomer" type="button">Lägg till ny kund</a>
            <br />

            <label asp-for="PickUpDate">Datum och tid för upphämtning</label>
            <input asp-for="PickUpDate" type="datetime-local" asp-format="{0:dd/MM/yyyy 00:00}" value="2020-02-12T00:00" class="form-control" id="PickUpDate" />
            <span asp-validation-for="PickUpDate" class="text-danger"></span>

            <label asp-for="ReturnDate">Datum och tid för återlämning</label>
            <input asp-for="ReturnDate" type="datetime-local" asp-format="{0:dd/MM/yyyy 00:00}" value="2020-02-12T00:00" class="form-control" id="ReturnDate" />
            <span asp-validation-for="ReturnDate" class="text-danger"></span>

            <br />
            <select asp-for="CarId" id="availableCars" class="form-control"></select>
            <div id="noAvailableCars"></div>

            <br />

            <button type="submit">Boka!</button>

        </form>

        <a href="/">Home</a>
    </div>


    <div>
        <br />

        <button id="getCustomer">Hämta kundinfo</button>
        <br />
        <br />
        <br />
        <br />

        <button id="getAvailableCars">Visa tillgängliga bilar</button>

    </div>

</div>




@section scripts
{


    <script>

        $("#getCustomer").click(function () {
            var ssn = $("#ssnInput").val();
            var dataModel = { ssn: ssn };
            console.log(ssn);

            request = $.ajax({
                url: "/GetCustomer",
                type: "Post",
                data: JSON.stringify(dataModel),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result.success) {
                        $("#status").html(result.customerId + result.firstName + result.lastName + result.ssn)

                        console.log(result.customerId + result.firstName, result.lastName, result.ssn);
                    }
                    else if (result.success == false) {
                        $("#status").html("Kunden finns ej vänligen registrera nedan.")
                    }
                }
            });


        });

        $("#getAvailableCars").click(function () {
            var pickUpDate = $("#PickUpDate").val();
            var returnDate = $("#ReturnDate").val();
            var dataModelX = { pickUpDate: pickUpDate, returnDate: returnDate };

            console.log(dataModelX);
            console.log(pickUpDate);
            console.log(returnDate);

            request = $.ajax({
                url: "/CheckAvailability",
                type: "Post",
                data: JSON.stringify(dataModelX),
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    
                    var html = ""

                    for (var i = 0; i < result.length; i++) {
                        html += "<option value=" + result[i].id + ">" + result[i].id + " " + result[i].regNr + " " + result[i].carType + "</option>" + "</br>"
                    }

                    $("#availableCars").html(html)


                }
            });
        });







    </script>
}



