@{
    ViewData["Title"] = "BiluthyrningAB";
}
   
        <style>
            .flex-container {
                display: flex;
                flex-wrap: wrap;
                background-color: white;
                margin: 5%;
                justify-content: center;
            }

                .flex-container > div {
                    background-color: lightblue;
                    width: 300px;
                    margin: 10px;
                    text-align: center;
                    line-height: 300px;
                    font-size: 30px;
                    position: center;
                    border-radius: 10px
                }
                
            .h1 {
                text-align: center;
            }
        </style>
    



       <div class="h1">
        <h1>Välkommen till Biluthyrning AB</h1>
       </div> 

        <div class="flex-container">

            <div>
                <a asp-controller="Cars" asp-action="CarsIndex">Hantera Bilar</a>
            </div>

            <div>
                <a asp-controller="Customers" asp-action="CustomersPage">Hantera Kunder</a>
            </div>

            <div>
                <a href="~/Booking/">Boka bil</a>
            </div>

            <div>
                <a href="~/Return/">Pågående uthyrningar</a>
            </div>

            <div>
                <a href="~/History/">Historik</a>
            </div>

        </div>
