@{
    ViewData["Title"] = "BiluthyrningAB";
}

<h1>Välkommen till Biluthyrning AB</h1>
<div class="navBar" id="mainNavBar">
    <a href="~/Booking/">Boka bil</a> <br />

    <a href="~/Return/">Pågående uthyrningar</a><br />

    <a href="~/CustomersPage/">Hantera kunder</a>

    <a href="~/CarsIndex/">Hantera Bilar</a>

    <a href="~/History/">Historik</a>


</div>


