@{
    ViewData["Title"] = "BiluthyrningAB";
}

<h1>Välkommen till Biluthyrning AB</h1>

<div class="navBar" id="mainNavBar">

    <a asp-controller="Cars" asp-action="CarsIndex">Hantera Bilar</a> <br/>

    <a asp-controller="Customers" asp-action="CustomersPage">Hantera Kunder</a><br />


    <a href="~/Booking/">Boka bil</a> <br />

    <a href="~/Return/">Pågående uthyrningar</a><br />

    <a href="~/History/">Historik</a>

</div>


