@model OrderVM[]
@{
    ViewData["Title"] = "Return Cars";
}

    <h1>Välj bil att lämna tillbaka</h1>

    @foreach (var item in @Model)
    {
        <a asp-controller="Main" asp-action="BookingDetails" asp-route-id="@item.BookingNr">@item.RegNr @item.CarType @item.CarId</a><br />
    }

    <a href="/">Home</a>

